ipython 
ipdb 
flask 
flask-sqlalchemy
flask-script
flask-flatpages
flask-mail
colander
lxml
webstore-client
python-Levenshtein
solrpy
python-dateutil
-e git+https://github.com/okfn/sqlaload.git#egg=sqlaload
-e git+https://github.com/pudo/nomenklatura-client.git#egg=nkclient
requests
webhelpers
